<configuration>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>./logs/info.log</file>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%date{dd MMM yyyy;HH:mm:ss} - %class.%M %L - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="trace">
		<appender-ref ref="fileAppender"/>
	</root>
</configuration>